/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --animal-color: transparent;
  --selected-color: transparent;
  --animation-duration: 1.35s;
}
body {
  background-color: rgb(10, 10, 10);
  color: white;
  height: 100vh;
}

/* * Navigation bar */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 30px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  height: 75px;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.315);
}
.hamburger-btn {
  display: none;
}
.nav-name {
  cursor: pointer;
}
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  list-style: none;
}
.nav-links li {
  min-width: 80px;
  max-width: 100%;
  text-align: center;
  position: relative;
  font-weight: 600;
  padding: 8px;
  color: rgb(161, 161, 161);
  -webkit-transition: color 0.3s ease-in-out, border-top 0.2s 0.1s;
  -o-transition: color 0.3s ease-in-out, border-top 0.2s 0.1s;
  transition: color 0.3s ease-in-out, border-top 0.2s 0.1s;
  border-radius: 5px;
  border-top: 2px solid transparent;
}
.nav-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-links li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--animal-color);
  content: "";
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  border-radius: 5px;
}
.nav-links li::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 0%;
  background-color: var(--animal-color);
  content: "";
  -webkit-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  border-radius: 5px;
}
.nav-links li:hover {
  cursor: pointer;
  color: white;
  -webkit-box-shadow: 0px 0px 3px var(--animal-color);
  box-shadow: 0px 0px 3px var(--animal-color);
  border-top: 2px solid var(--animal-color);
}
.selected-link {
  color: white !important;
  position: relative;
  -webkit-box-shadow: 0px 0px 3px var(--selected-color);
  box-shadow: 0px 0px 3px var(--selected-color);
  border-top: 2px solid var(--selected-color) !important;
}

.nav-links li:hover::before {
  width: 100%;
}
.nav-links li:hover::after {
  height: 100%;
}

/* * Main content section */
.main-content {
  padding: 15px;
  height: calc(100vh - 85px);
  max-height: 1200px;
  min-height: 600px;
  position: relative;
}
/* * Continent properties */
.home-section {
  -webkit-animation: loadin 1.65s ease-out;
  animation: loadin 1.65s ease-out;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
  grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: 1fr 1.35fr;
  grid-template-rows: 1fr 1.35fr;
  height: 90%;
  width: 40%;
  /* width: 40%; change this for responsivness on moblie and less */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@-webkit-keyframes loadin {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes loadin {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes loadinreverse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3);
  }
  50% {
  }
  80% {
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes loadinreverse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3);
  }
  50% {
  }
  80% {
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}
.reverse-load-home {
  -webkit-animation: loadinreverse var(--animation-duration) ease-in;
  animation: loadinreverse var(--animation-duration) ease-in;
  animation-direction: reverse;
}
.home-section img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.smooth-image {
  -webkit-transition: opacity 1.23s;
  -o-transition: opacity 1.23s;
  transition: opacity 1.23s;
}
.image-visible {
  opacity: 1;
}
.image-hidden {
  opacity: 0;
}
/* * Animal icons */
.icon {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: transparent;
  position: absolute;
  -webkit-transition: scale 0.2s, background-color 0.2s;
  -o-transition: scale 0.2s, background-color 0.2s;
  transition: scale 0.2s, background-color 0.2s;
  border: none;
}
.icon i {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  color: rgb(0, 255, 13);
  z-index: -1;
}
.hovered-animal {
  scale: 1.25;
  background-color: rgba(255, 255, 255, 0.623);
}
.icon:hover {
  scale: 1.25;
  background-color: rgba(255, 255, 255, 0.623);
  cursor: pointer;
}
.lion {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  bottom: 22%;
  right: 12%;
  -webkit-animation: lion-hippo 60s infinite;
  animation: lion-hippo 60s infinite;
}
.elephant {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  top: 5%;
  left: 6%;
  -webkit-animation: elephant-zebra 60s infinite;
  animation: elephant-zebra 60s infinite;
}
.elephant i {
  bottom: -2px;
  left: 48.5%;
}
.rhino {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  bottom: 32%;
  left: 17%;
  -webkit-animation: rhino-girrafe 60s infinite;
  animation: rhino-girrafe 60s infinite;
}
.zebra {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  bottom: 55%;
  left: 32%;
  -webkit-animation: elephant-zebra 60s infinite;
  animation: elephant-zebra 60s infinite;
}
.hippo {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  top: 0;
  left: 35%;
  -webkit-animation: lion-hippo 60s infinite;
  animation: lion-hippo 60s infinite;
}
.giraffe {
  grid-column: 2 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  bottom: 20%;
  left: 10%;
  -webkit-animation: rhino-girrafe 60s infinite;
  animation: rhino-girrafe 60s infinite;
}
.giraffe i {
  bottom: -2px;
}
@-webkit-keyframes lion-hippo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(13px, 3px);
    transform: translate(13px, 3px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes lion-hippo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(13px, 3px);
    transform: translate(13px, 3px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes rhino-girrafe {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-4px, 7px);
    transform: translate(-4px, 7px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes rhino-girrafe {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-4px, 7px);
    transform: translate(-4px, 7px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes elephant-zebra {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(6px, 10px);
    transform: translate(6px, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes elephant-zebra {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(6px, 10px);
    transform: translate(6px, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/* *Animal information section */
.info-section {
  display: -ms-grid;
  display: grid;
  margin: auto;
  max-width: 1150px;
  min-width: 65%;
  -ms-grid-columns: 1.55fr 25px 1fr;
  grid-template-columns: 1.55fr 1fr;
  -ms-grid-rows: 2fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  -webkit-column-gap: 25px;
  -moz-column-gap: 25px;
  column-gap: 25px;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.animal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@-webkit-keyframes animalInfoAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes animalInfoAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes animalInfoAnimationout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}
@keyframes animalInfoAnimationout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
}
.animal-info-out {
  -webkit-animation: animalInfoAnimationout var(--animation-duration) ease-in;
  animation: animalInfoAnimationout var(--animation-duration) ease-in;
}
.info-heading {
  font-size: 65px;
  color: var(--selected-color);
  -webkit-transform: scaleY(1.15);
  -ms-transform: scaleY(1.15);
  transform: scaleY(1.15);
  text-transform: uppercase;
}
.animal-desc {
  letter-spacing: 0.6px;
  line-height: 24px;
  font-size: 17px;
  color: rgb(199, 199, 199);
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  position: relative;
  min-height: 225px;
}
@-webkit-keyframes text-woosh {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);

    -webkit-filter: blur(2px);

    filter: blur(2px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes text-woosh {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);

    -webkit-filter: blur(2px);

    filter: blur(2px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.animation-animal-description {
  -webkit-animation: text-woosh 1s ease-in;
  animation: text-woosh 1s ease-in;
}
.text-area {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 25px 10px 10px 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-animation: animalInfoAnimation var(--animation-duration);
  animation: animalInfoAnimation var(--animation-duration);
}
.source-link {
  color: rgb(199, 199, 199);
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  gap: 8px;
}
.source-link a {
  color: rgb(199, 199, 199);
  font-size: 18px;
  text-transform: capitalize;
}
.source-link a i {
  margin-left: 8px;
}
.fun-fact-btn {
  width: 33%;
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.fun-fact-btn:focus-within {
  background-color: var(--selected-color);
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column: 1/-1;
  grid-row: 3/ -1;
  width: 100%;
  gap: 30px;
  padding: 50px 15px 15px 15px;
  -webkit-animation: cardsAnimation var(--animation-duration);
  animation: cardsAnimation var(--animation-duration);
}

@-webkit-keyframes cardsAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes cardsAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}
.reverse-animation-info {
  -webkit-animation: animalInfoAnimationout var(--animation-duration) ease-in;
  animation: animalInfoAnimationout var(--animation-duration) ease-in;
  animation-direction: reverse;
}
.reverse-animation-cards {
  -webkit-animation: cardsAnimationout var(--animation-duration) ease-in;
  animation: cardsAnimationout var(--animation-duration) ease-in;
  animation-direction: reverse;
}
@-webkit-keyframes cardsAnimationout {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes cardsAnimationout {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}
.cards div {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  width: 23%;
  height: 125px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  letter-spacing: 0px;
  -webkit-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  transition: background-color 0.35s;
}
.cards div:hover {
  background-color: rgba(0, 0, 0, 0.253);
}
.cards .name {
  width: 40%;
}
.cards div h4 {
  font-size: 24px;
  font-weight: 700;
  -webkit-transform: scaleY(1.15);
  -ms-transform: scaleY(1.15);
  transform: scaleY(1.15);
}
.cards div p {
  color: rgb(156, 156, 156);
  font-size: 15px;
  font-weight: 600;
}
.animal-image-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/ 3;
  padding: 25px 25px 15px 25px;
  height: 100%;
  max-height: 570px;
  width: 100%;
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-animation: imageloadin var(--animation-duration) ease-in;
  animation: imageloadin var(--animation-duration) ease-in;
  position: relative;
}
.info-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.fun-fact-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  -webkit-animation: showfact 1.5s;
  animation: showfact 1.5s;
  width: 100%;
  font-size: 20px;
  opacity: 1;
  -webkit-animation: facts 1s;
  animation: facts 1s;
  background-color: rgba(10, 10, 10, 0.664);
  height: 100%;
}
.fun-fact-text ul {
  list-style: disc;
}
.fun-fact-text ul li {
  padding: 3px;
}
.set-facts-out {
  animation: facts-out 1s reverse;
}
@-webkit-keyframes facts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes facts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes facts-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes facts-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.reverse-animations {
  -webkit-animation: imageloadout var(--animation-duration) ease-in;
  animation: imageloadout var(--animation-duration) ease-in;
  animation-direction: reverse;
}

@-webkit-keyframes imageloadin {
  0% {
    opacity: 0;
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  50% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes imageloadin {
  0% {
    opacity: 0;
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  50% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes imageloadout {
  0% {
    opacity: 0;
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  50% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes imageloadout {
  0% {
    opacity: 0;
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  50% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    opacity: 1;
  }
}
.reverse-animations-other-animals {
  -webkit-animation: otheranimals var(--animation-duration) ease-in;
  animation: otheranimals var(--animation-duration) ease-in;
}
@-webkit-keyframes otheranimals {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes otheranimals {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.chars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 13px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/ 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 100%;
}
.chars button {
  height: 50px;
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.24);
  color: white;
  text-align: left;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  -webkit-transition: background-color 0.45s;
  -o-transition: background-color 0.45s;
  transition: background-color 0.45s;
}
.chars button:hover {
  background-color: rgb(70, 70, 70) !important;
}
.focused-chars-btn {
  background-color: var(--selected-color) !important;
}

@media (max-width: 1150px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100px;
    gap: 15px;
    padding: 10px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .home-section {
    width: calc(65% + 5vw);
  }
  .info-section {
    max-width: 90vw;
    -ms-grid-columns: 1.55fr 1fr;
    grid-template-columns: 1.55fr 1fr;
    -ms-grid-rows: 1fr 0.5fr 200px;
    grid-template-rows: 1fr 0.5fr 200px;
  }
  .animal-image-container {
    grid-column: 1/ -1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/ 2;
    height: 550px;
    width: 100%;
  }
  .text-area {
    grid-column: 1/-1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/ 3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
  }

  .cards {
    grid-column: 1/-1;
    grid-row: 3/ -1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
    width: 96%;
  }
  .cards div,
  .cards .name {
    height: 50px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
  }
  .cards div h4 {
    font-weight: 500;
    font-size: 16px;
  }
  .animal-desc {
    padding-top: 15px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .animal-info {
    grid-row: 1/-1;
    padding: 10px;
  }
  .chars {
    grid-row: 1/-1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -ms-grid-column-align: end;
    justify-self: end;
    padding: 10px;
    width: 100%;
    gap: 30px;
  }
  .chars button {
    height: 60px;
  }
  .source-link {
    gap: 25px;
  }

  @-webkit-keyframes animalInfoAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes animalInfoAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes animalInfoAnimationout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes animalInfoAnimationout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
@media (max-width: 800px) {
  /* * HAMBURGER MENU */
  .info-section {
    max-width: 95vw;
    -ms-grid-columns: 1.55fr 1fr;
    grid-template-columns: 1.55fr 1fr;
    -ms-grid-rows: auto 0.5fr 200px;
    grid-template-rows: auto 0.5fr 200px;
  }
  .nav-hamburger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .animal-image-container {
    height: 100%;
  }
  .hamburger-btn {
    display: block;
    rotate: 90deg;
    background-color: transparent;
    border: none;
    font-size: 42px;
    color: white;
  }
  .fun-fact-btn,
  .fun-fact-text {
    display: none;
  }
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 75px;
    gap: 15px;
    padding: 15px 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
  }
  .nav-links {
    position: absolute;
    top: 75px;
    left: 0;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    gap: 25px;
    z-index: 3;
    width: 100vw;
    overflow: hidden;
    padding: 15px 23px;
    border-bottom: 1px solid white;
    -webkit-animation: hamburger-sliding 1s;
    animation: hamburger-sliding 1s;
  }
  @-webkit-keyframes hamburger-sliding {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes hamburger-sliding {
    0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .nav-links li {
    min-width: 80px;
    max-width: 100%;
    text-align: left;
    padding: 15px 10px;
    color: rgb(161, 161, 161);
    border-radius: 0;
    border-top: 2px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
    border-left: 1px solid rgba(255, 255, 255, 0.322);
  }
  .selected-link {
    color: white !important;
    position: relative;
    border-top: 2px solid var(--selected-color) !important;
    border-right: 2px solid var(--selected-color) !important;
  }
  .nav-links li:hover {
    -webkit-box-shadow: 0px 0px 0px transparent;
    box-shadow: 0px 0px 0px transparent;
  }
  .home-section {
    width: 90%;
    height: 450px;
  }
  .text-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }
  .chars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 5px;
  }
  .chars button {
    width: 33%;
    text-align: center;
    white-space: nowrap;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }
  .source-link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 0;
  }
  .cards div h4 {
    font-weight: 500;
    font-size: 16px;
  }
  .animal-desc {
    min-height: 190px;
  }
}
@media (max-width: 550px) {
  .text-area {
    width: 100%;
  }
  .animal-info {
    height: 100%;
    width: 100%;
    padding: 0;
    font-size: 14px;
  }
  .animal-desc {
    height: 100%;
    width: 100%;
  }
  .chars {
    grid-row: 1/-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;
  }
  .chars button {
    width: 33%;
    white-space: normal;
    height: 100%;
    width: 100%;
  }
  .info-image {
    height: auto;
  }
  .name h4 {
    text-align: end;
    white-space: nowrap;
  }
}
